<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener App</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>URL Shortener</h1>

    <div class="form-container">
        <form id="urlForm" method="POST">
            <label for="urlInput">Enter URL:</label>
            <input type="text" id="urlInput" name="url" required placeholder="http://this.is.way/too/long?isnt=it">
            <label for="aliasInput">Enter alias:</label>
            <input type="text" id="aliasInput" name="alias" required placeholder="http://localhost:3000/......">
            <input type="submit" value="Shorten URL">
        </form>
    </div>

    <div class="table-container">
        <table id="urlTable">
            <tr>
                <th>Original URL</th>
                <th>Shortened URL</th>
            </tr>
            <% urls.forEach(url => { %>
                <tr>
                    <td><a href=<%= url.url %>> <%= url.url %> </a></td>
                    <td><a href=<%= url.url %>> http://localhost:3000/<%= url.alias %> </a></td>
                </tr>
            <% }) %>
        </table>
    </div>
</body>

</html>